<h1>{{ title}}</h1>
<button (click)="setTitle()">Set Title</button>
<ul class="products">
    <li *ngFor="let product of products">
        <!-- <button [class.selected]="product === selectedProduct" type="button" -->
        <button type="button" (click)="onSelect(product)">{{product.id}}</button>-
        <span>{{ product.name }}</span>
        <button (click)="removeProduct(product.id)">Remove</button>
    </li>
</ul>

<h1>Add Product</h1>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>

    <button type="submit">Add</button>
</form>

<!-- 
<div *ngIf="selectedProduct">
    <h2>{{selectedProduct.name | uppercase}} Details</h2>
    <div>id: {{selectedProduct.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="selectedProduct.name" placeholder="name">
    </div>
</div> -->


<app-product-detail [product]="selectedProduct"></app-product-detail>
<!-- {{showProduct && <app-product-detail [product]="selectedProduct"></app-product-detail>}} -->